<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification Logging</title>
</head>
</html>

<div>
    <form action="/login" method="post">
        <p>Логин</p>
        <input name="logLog" value="">
        <p>Пароль</p>
        <input name="passLog" value="">
        <button name = "loginBtn">Войти</button>
    </form>
    <form action="/registration">
        <button>Регистрация</button>
    </form>
</div>