<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification Login</title>
</head>
</html>

<div>
    <form action="/out">
        <button>Выход</button>
    </form>
</div>