<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification registration</title>
</head>
</html>

<div>
    <form action="/registrationfinal" method="post">
        <p>Логин</p>
        <input name="logReg" value="">
        <p>Пароль</p>
        <input name="passReg" value="">
        <button name = "regBtn">Регистрация</button>
    </form>
</div>